@model List<AuthorVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4 mb-4 text-center text-primary">Author List</h1>

<table class="table">

    <a class="btn btn-success" asp-action="Create" asp-controller="Author">Create</a>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Surname</th>
            <th>BirthDate</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img height="80" width="80" src="@item.ImageUrl" alt="Alternate Text" />
                </td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.BirthDate</td>
                <td>
                    <form asp-action="Delete" asp-controller="Author" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm deleteBtn">Delete</button>
                    </form>
                    <a asp-action="Detail" asp-controller="Author" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- TempData Hidden Divs for success and error messages -->
